@charset "UTF-8";


/* ここからモーダル用CSS */
html, body, .wrapper {
  width: 100%;
  height: 100%;
  
}

/*body {
  color: #333;
}
*/
img {
  max-width: 100%;
  height: auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex.center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content {
  max-width: 1080px;
  width: 92%;
  margin: 3em auto;
}
.content .ttl {
  margin-bottom: 0.5em;
  padding-bottom: 0.25em;
  font-size: 2em;
  font-weight: bold;
  line-height: 1.3;
  border-bottom: 1px solid #dedede;
}
.content p {
  margin-bottom: 1em;
  line-height: 1.7;
}

.modalCheck {
  display: none;
}

/*.mainVisual {
  min-height: 240px;
  height: 50%;
}*/
/*.mainVisual.main01 {
  background: url(../poto/images/img/works1.jpg) no-repeat 50% 90%;
  background-size: cover;
}*/
/*.mainVisual.main02 {
  background: url(../poto/images/img/works2.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.mainVisual.main03 {
  background: url(../poto/images/img/works3.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.mainVisual.main04 {
  background: url(../poto/images/img/works4.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.mainVisual.main05 {
  background: url(../poto/images/img/works5.jpg) no-repeat 50% 50%;
  background-size: cover;
}*/

label {
  cursor: pointer;
}

.btn {
  text-align: center;
}
.btn label {
  display: inline-block;
  padding: 0.8em 1.5em;
  color: #fff;
  font-size: 24px;
  background-color: #f44336;
  text-decoration: none;
  border-radius: 5px;
  -webkit-transition: 0.3s cubic-bezier(1, 0, 0, 1);
  transition: 0.3s cubic-bezier(1, 0, 0, 1);
  -webkit-transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, box-shadow;
  transition-property: background-color, box-shadow, -webkit-box-shadow;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
}
.btn label:hover {
  background-color: #ea1c0d;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.3);
}
.btn.small label {
  font-size: 18px;
}

.modalWrap, .modalBg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: 10;
}

.modalWrap {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s cubic-bezier(1, 0, 0, 1);
  transition: 0.3s cubic-bezier(1, 0, 0, 1);
  -webkit-transition-property: opacity;
  transition-property: opacity;
  will-change: opacity;
}

.modalBg {
  cursor: pointer;
  opacity: 0.7;
  background-color: #000;
  z-index: 2;
}
.modalBg label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

.modalCon {
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
  width: 92%;
  max-width: 640px;
  height: 86%;
  margin: auto;
  z-index: 3;
  color: #000;
}

.modalInner {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
  height: 100%;
  padding: 0 1.5em 1.5em;
  cursor: default;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.3);
}

.modalCloseBtn {
  position: absolute;
  top: 0;
  right: 0;
}
.modalCloseBtn label {
  display: inline-block;
  padding: 0.5em;
  color: #333;
  text-decoration: none;
  font-size: 2em;
}

.modalCheck:not(:checked) ~ .wrapper > *:not(.modalWrap) {
  -webkit-filter: blur(0px);
          filter: blur(0px);
}
.modalCheck:not(:checked) ~ .wrapper .modalWrap {
  opacity: 0;
  visibility: hidden;
}

.modalCheck:checked ~ .wrapper > *:not(.modalWrap) {
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

#modal00:checked ~ .wrapper #modal00Con {
  opacity: 1;
  visibility: visible;
}

#modal01:checked ~ .wrapper #modal01Con {
  opacity: 1;
  visibility: visible;
}

#modal02:checked ~ .wrapper #modal02Con {
  opacity: 1;
  visibility: visible;
}

#modal03:checked ~ .wrapper #modal03Con {
  opacity: 1;
  visibility: visible;
}

#modal04:checked ~ .wrapper #modal04Con {
  opacity: 1;
  visibility: visible;
}

#modal05:checked ~ .wrapper #modal05Con {
  opacity: 1;
  visibility: visible;
}

.modalTtl {
  padding: 2em 0.5em 1.5em;
  font-size: 2em;
  line-height: 1.3;
  text-align: center;
}

.modalText .modalCover {
  margin: 0 -1.5em 1em;
}

.modalText{
  text-align: left;
}

.modalText p {
  margin-bottom: 1em;
  line-height: 1.7;
}

@media (max-width: 640px) {
  .content {
    margin: 1.5em auto;
  }

  .modalInner {
    padding-left: 1em;
    padding-right: 1em;
  }

  .modalTtl {
    font-size: 1.5em;
    padding-bottom: 1em;
  }

  .modalText .modalCover {
    margin: 0 -1em 1em;
  }
}
